ul.navbar-nav
  if process.env['CHUPIM_ENV'] == 'development'
    li.nav-item.active.dropdown
      a#navbarNewDropdown.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        | File 
      ul.dropdown-menu(aria-labelledby="navbarNewDropdown")
        li
          a.dropdown-item(href="/pipeline/new") New Pipeline
        li
          a.dropdown-item(href="stage/new") New Stage
  li.nav-item.active
    a.nav-link(href="/metrics")
      | Metrics 
  li.nav-item.active
    a.nav-link(href="/errors")
      | Errors