@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --nav-width: 68px;
  --white-color: #f7f6fb;
}

.l-navbar {
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
}
.nav_logo-name {
  font-weight: 700;
}
.nav_link {
  position: relative;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.nav_icon {
  font-size: 1.25rem;
}
.sidebar_show {
  left: 0;
}

.sidebar_active {
  color: var(--white-color);
}
.sidebar_active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* .active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
} */
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .sidebar_show {
    width: calc(var(--nav-width) + 226px);
  }
}

html {
  /* position: relative;
  height: 100%; */
  /*overflow: hidden;*/
  height: -webkit-fill-available;
}

body {
  /* position: relative; */
  margin: 0;
  /* height: calc(100%);
  min-height: calc(100% - 60px) !important; */
  min-height: -webkit-fill-available;
  display: contents;
}

main {
  display: flex;
  /* flex-wrap: nowrap; */
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.main-header {
  box-shadow: 8px 0px 9px -4px #000000;
}

/* #main-sidebar {
  transition: width 0.5s;
} */

/* .navbar-brand {
  font-family: 'Pacifico';
  font-size: 24px;
} */

/* .bg-dark {
  background-color: #171717 !important;
} */

*,#stage-source::not {
  font-family: "Raleway";
}

/* h1, h2, h3, h4, h5, .navbar {
  font-family: 'Raleway';
} */

/* p, a, li, ol, input, select, textarea {
  font-family: 'PT Sans';
} */

/* #container {
  height: calc(100% - 100px);
} */

canvas {
  font-family: "Inconsolata";
}

/* label {
  font-size: 14px;
} */

.full-height {
  height: 100vh;
}

.scrollable {
  overflow-y: auto;
}

#footer {
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 5px -2px #aaa;
}

#workspace {
  /* width: calc(100% - 10px); */
  width: 100%;
  height: calc(100% - 136px);
  overflow: hidden;
  /* position: absolute; */
  /* left: 0;
  top: 0;
  z-index: 999; */
}

#workspace pre {
  position: relative;
  height: 100%;
}

.clickable {
  text-transform: capitalize;
  cursor: pointer;
}
.clickable:hover {
  color: #007bff;
}

.stage-prefix {
  text-transform: capitalize;
}

#stage-source {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* font-size: 12px; */
}

.stages:hover {
  color: #007bff;
}

/* .navbar {
  box-shadow: 0px 0px 10px 0px #000;
} */

.navbar-brand i {
  color: #ffffff;
}

pre code {
  color: #e83e8c;
}

pre {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  background-color: #eee;
}

.error-box {
  position: relative;
  width: 80%;
  margin: 150px auto;
}

.right-shadow {
  box-shadow: 1px 0px 0px 0px #ccc;
}

.metric-chart {
  border: 1px solid rgb(37, 137, 195);
  border-radius: 5px;
  padding: 6px 0px 0px 0px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  display: inline-block;
}

.col-3 {
  max-width: calc(25% - 4px);
}

.metric-stage {
  background-color: #f5f5f5;
  border-color: rgb(172, 172, 172);
}

.metrics-toggle::after {
  color: #f00;
}

.toggle-on {
  left: -6px;
  line-height: 9px;
}

.toggle-off.btn-xs {
  padding-left: 5px;
  line-height: 9px;
}

#stage-list a {
  text-decoration: none;
  color: inherit;
}

/* #stage-list li img {
  width: 20px;
} */
/* 
#stage-list .tree-item::before {
  content: └;
  font-size: 18px;
} */
#stage-list > li > ul > li {
  height: 19px;
}
#stage-list > li > ul > li::before {
  content: "├\00a0";
}
#stage-list > li > ul > li:last-child::before {
  content: "└\00a0";
}

.scrolly {
  overflow-y: auto;
}

/* .ace-dracula {
  background-color: #171717 !important;
} */

#chart-container {
  height: calc(100vh - 125px);
  overflow-y: scroll;
}