@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


html {
  position: relative;
  height: 100%;
  /*overflow: hidden;*/
}

body {
  position: relative;
  margin-top: 60px;
  height: calc(100% - 60px);
  min-height: calc(100% - 60px) !important;
}

.navbar-brand {
  font-family: 'Pacifico';
  font-size: 24px;
}

.bg-dark {
  background-color: #000 !important;
}

h1, h2, h3, h4, h5, .navbar {
  font-family: 'PT Sans';
}

p, a, li, ol, input, select, textarea {
  font-family: 'PT Sans';
}

label {
  font-size: 14px;
}

.full-height {
  height: 100%;
} 

.scrollable {
  overflow-y: scroll;
}

#footer {
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -2px #aaa;
}

#workspace {
  width: calc(100% - 10px);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

.clickable {
  text-transform: capitalize;
  cursor: pointer;
}
.clickable:hover {
  color: #007bff;
}

.stage-prefix {
  text-transform: capitalize;
}

#stage-source {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
}

.stages:hover {
  color:#007bff;
}

.navbar {
  box-shadow: 0px 0px 10px 0px #000;
}

.navbar-brand i {
  color: #ffffff;
}

pre code {
  color: #e83e8c;
}

pre {
  border: 1px solid #eee;
  border-radius: 5px; 
  padding: 10px;
  background-color: #eee;
}

.error-box {
  position:relative;
  width: 80%;
  margin: 150px auto;
}

.right-shadow {
  box-shadow: 1px 0px 0px 0px #ccc;
}

.metric-chart {
  border: 1px solid rgb(37, 137, 195);
  border-radius: 5px;
  padding: 6px 0px 0px 0px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  display: inline-block;
}

.col-3 {
  max-width: calc(25% - 4px);
}

.metric-stage {
  background-color: #f5f5f5;
  border-color: rgb(172, 172, 172)
}

.metrics-toggle::after {
  color: #f00;
}
 
.toggle-on {
  left: -6px;
  line-height: 9px;
} 

.toggle-off.btn-xs {
  padding-left: 5px;
  line-height: 9px;
}

#stage-list a {
  text-decoration: none;
}

#stage-list li img {
  width: 20px;
}

.scrolly {
  overflow-y: scroll;
}