ul.navbar-nav.mr-auto
  li.nav-item.active.dropdown
    a#navbarNewDropdown.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
      | File 
    .dropdown-menu(aria-labelledby="navbarNewDropdown")
      a#menu-pipeline-save.dropdown-item(href='#' data-toggle="modal" data-target="#pipeline-save-modal") Save
      a.dropdown-item(href="/") Exit